<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="DatasetPath" value="./../../../Dataset/drone_dataset.csv"/>
		<add key="LogsDirectoryPath" value="./../../Logs" />
		<add key="DroneLogsFileName" value="drone_logs.txt" />
		<add key="EventLogsFileName" value="event_logs.txt" />
		<add key="LeftoverLogsFileName" value="leftover_logs.txt" />
		<add key="RowLimit" value="100"/>
	</appSettings>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="DroneServiceTcpBinding"
                         transferMode="Buffered"
                         maxReceivedMessageSize="2147483647"
                         sendTimeout="00:01:00"
                         receiveTimeout="00:01:00"
                         openTimeout="00:01:00"
                         closeTimeout="00:01:00">
					<readerQuotas
                        maxDepth="32"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="16384" />
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint
				name="DroneService"
				address="net.tcp://localhost:4000/DroneService"
				binding="netTcpBinding"
				bindingConfiguration="DroneServiceTcpBinding"
				contract="Common.Services.Session.IDroneService"
			/>
		</client>
	</system.serviceModel>
</configuration>