<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="W_threshold" value="0.121" />
		<add key="A_threshold" value="0.04" />
		<add key="Deviation_threshold" value="25"/>
		<add key="ProcessedDataDirectoryPath" value="./../../ProcessedData" />
		<add key="ValidSampleFileName" value="measurements_session.csv" />
		<add key="RejectSampleFileName" value="rejects.csv" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding
                    name="DroneServiceTcpBinding"
                    transferMode="Buffered"
                    maxReceivedMessageSize="2147483647"
                    sendTimeout="00:01:00"
                    receiveTimeout="00:01:00"
                    openTimeout="00:01:00"
                    closeTimeout="00:01:00"
                >
				    <readerQuotas
                        maxDepth="32"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="16384"
                   />
			    </binding>	
		    </netTcpBinding>
	    </bindings>
		<services>
           <service name="Server.Services.Session.DroneService">
                <endpoint 
				    address="DroneService" 
				    binding="netTcpBinding" 
				    bindingConfiguration="DroneServiceTcpBinding"
                    contract="Common.Services.Session.IDroneService" 
			    />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:4000" />
                    </baseAddresses>
                </host>
           </service>
        </services>
	</system.serviceModel>
</configuration>